<h2>Your Trip to <%= @trip.name %>, <%= @trip.location %></h2>
<br>

<% unless locals.empty? %>
  <%= message %>
<% end %>
<br>
<h3><strong>Create a List</strong></h3>
<form action="/trips/<%= @trip.id %>/lists" method="post">
  <label for="title">Title: </label>
  <input type="text" name="title" placeholder="title">
  <br><br>
  <label for="content">Content: </label>
  <br><br>
  <textarea name="content" rows="20" cols="100"></textarea>
  <br><br>
  <input type="submit" value="Create List">
</form>
