<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Canoe - Personal Travel Planner</title>
  </head>

  <nav>
    <ul>
      <% if is_logged_in? %>

        <li><a href="/trips">Trips</a></li>
        <li><a href="/logout">Log-Out</a></li>
      <% else %>
        <li><strong>Canoe</strong></li>
        <li><a href="/login">Log-In</a></li>
        <li><a href="/signup">Sign-Up</a></li>
      <% end %>
    </ul>
  </nav>

  <body>

    <div class="container">

      <%= yield %>

    </div>

    <!-- bootstrap? -->
  </body>

</html>
