<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Canoe - Personal Travel Planner</title>
  </head>

  <!-- add nav -->

  <body>

    <%= yield %>


    <!-- bootstrap? --> 
  </body>

</html>
